body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F7FAFD;
  /* overflow: hidden; */
}
body,html{
  overflow-x: hidden;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
button {
  cursor: pointer;
  border: 0;
  background: none;
}

.background-gray{
  background-color: rgba(0, 0, 0, 0.10);
}
a{
  text-decoration: none;
  color: black;
}
::-webkit-scrollbar {
  display: none;
  visibility: hidden;
  opacity: 0
}