@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap'); */

.filter-overlay {
  background-color: rgb(255 255 255 / 0.3);
  backdrop-filter: blur(10px);
  width: fit-content;
  height: fit-content;
}
.about-detail{
  display: flex;
  width: fit-content;
}

.about_card-container{

}

.about_card_left{
  margin-top: 60px;
  background-image: url(/public/img/college-student-4369850_1920.jpg);
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 310px;
  border-radius: 20px;
  transition: 0.2s ease-in-out;
  
  }
  .about_card_left:hover{
    transform: scale(1.03);
  }

.about_card_right{
  /* display: flex;
  justify-content: end; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/public/img/pexels-suzy-hazelwood-1122865.jpg);
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: cover;
  height: 310px;
  border-radius: 20px;
  transition: 0.2s ease-in-out;
}
.about_card_right:hover{
  transform: scale(1.03);
}
.about_card a {

  text-decoration: none;
  display: inline-block;
  padding: 8px 25px;
  border: 2px solid #c4d70f;
  color: #c4d70f;
  border-radius: 35px;
}

.about_card a:hover {

  background-color: #c4d70f;
  color: #fefeff;

}
.about_img_left{
  display: flex;
  justify-content: start;
  width: 190px;
  
}
.about_img_box{
  display: flex;
  justify-content: end;

}
.about_img_right{

  width: 190px;
}

.card_detail-ox{
  display: table;
  
  
}
.card_detail-oxx{
  background-color: rgb(255 255 255 / 0.3);
  backdrop-filter: blur(10px);
  display: table-cell; 
  vertical-align: middle;
  padding: 15px;
  border-radius: 20px;
}

.card_detail-oxx > h4{
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}
.card_detail-oxx > p {
  font-family: "Roboto", sans-serif;
}
@media screen and (max-width: 992px) {
  .about_card_left{
    margin-top: 70px;
  }
  .about_img{
    width: 90px;
  }
}
/* .home-page{

    margin-top: 110px;
    overflow: hidden;
    
}
.container > h2{
  font-family: 'Alkatra', cursive;

}
.home-page-h1-div{
    text-align: center;
}
.home-page-bubble-1-text{
    font-size:17px;
}
.communitypng{
    width: 70px;
}
.universitypng{
    width: 72px;
}
.about_section {
    text-align: center;
  }
  
  .about_section h4 {
    font-size: 22px;
  }
  
  .about_card-container {
    margin: 35px 0;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .about_card {
    position: relative;
    z-index: 9999;
    margin: 0 20px;
   
    height: 540px;
  }

  .about_card .about-detail {
    transition: all .2s ease-in-out; 
    padding: 2px 25px 35px 25px;
    height: 420px;
    -webkit-box-shadow: -1px 0px 25px 9px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: -1px 0px 25px 9px rgba(0, 0, 0, 0.09);
    box-shadow: -1px 0px 25px 9px rgba(0, 0, 0, 0.09);
  }
  .about-detail:hover{
    transform: scale(1.06); 
  }
  .about_card .about_img-box {
    width: 110px;
    height: 104px;
    margin: 50px auto;
  
  }
  
  .about_card .about-detail p {
    font-family: 'Signika Negative', sans-serif;
    height: 90px;
    margin-top: 15px;
  }
  .about_card .about-detail h4{
    font-family: 'Signika Negative', sans-serif;
    font-weight: bold;
  }
  
  .about_card img {
    width: 100%;
  }
  
  .about_card a {

    text-decoration: none;
    display: inline-block;
    padding: 8px 25px;
    border: 2px solid #c4d70f;
    color: #c4d70f;
    border-radius: 35px;
  }
  
  .about_card a:hover {
    background-color: #c4d70f;
    color: #fefeff;
  }
  
  

@media screen and (max-width: 992px) {
   .home-page{
    overflow: hidden;
   }
} */
